
body {
    margin: 0;
}
.panel {
    font-size: 20px; 
    background-size: cover;
    background-position: center;
    align-items: center;
    text-align: center;
    flex:1;
    color:white;
    justify-content:center;
    display:flex;
    flex-direction: column;
    transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
    
}
.panel1 {
    background-image: url('./flexPanelsImages/one.jpg');
}
.panel2 {
    background-image: url('./flexPanelsImages/two.jpg');
}
.panel3 {
    background-image: url('./flexPanelsImages/three.jpg');
}
.panel4 {
    background-image: url('./flexPanelsImages/four.jpg');
}
.panel5 {
    background-image: url('./flexPanelsImages/five.jpg');
}
.panels {	
    min-height: 100vh;
    display: flex;
}
.panel > * {
    flex: 1 0 auto;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.panel > *:first-child {transform:translateY(-100%);}
.panel.open-active > *:first-child {transform: translateY(0);}
.panel > *:last-child {transform:translateY(100%);}
.panel.open-active > *:last-child {transform:translateY(0);}

.panel p {
    text-transform: uppercase;
    font-family:'Amatic SC', cursive;
    text-shadow: 0 0 4px rgba(0,0,0,0.72), 0 0 14px rgba(0,0,0,0.45);
}
.panel.open {
 flex:5;
 font-size: 40px;
}
     